<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>品牌</string>
		<key>header</key>
		<array>
			<string>Apple</string>
			<string>小米（MI）</string>
			<string>华为（HUAWEI）</string>
			<string>国美（GOME）</string>
			<string>荣耀</string>
			<string>三星（Samsung）</string>
		</array>
		<key>content</key>
		<array>
			<string>魅族（MEIZU）</string>
			<string>乐视</string>
			<string>OPPO</string>
			<string>VIVO</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>网络格式</string>
		<key>header</key>
		<array>
			<string>全网4G</string>
			<string>移动4G</string>
			<string>联通4G</string>
		</array>
		<key>content</key>
		<array>
			<string>电信4G</string>
			<string>双卡</string>
			<string>双卡4G</string>
			<string>电信3G</string>
			<string>移动2G</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>屏幕尺寸</string>
		<key>header</key>
		<array>
			<string>5.6英寸以上</string>
			<string>5.5-5.1英寸</string>
			<string>5.0-4.6英寸</string>
		</array>
		<key>content</key>
		<array>
			<string>4.3-3.1英寸</string>
			<string>3.0英寸以下</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>功能特点</string>
		<key>header</key>
		<array>
			<string>后置双摄像头</string>
			<string>骁龙芯片</string>
			<string>快速充电</string>
		</array>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>操作系统</string>
		<key>header</key>
		<array>
			<string>安卓（Android）</string>
			<string>微软（Windows）</string>
			<string>苹果（IOS）</string>
		</array>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>机身内存</string>
		<key>header</key>
		<array>
			<string>8G</string>
			<string>16G</string>
			<string>4G</string>
		</array>
		<key>content</key>
		<array/>
	</dict>
</array>
</plist>
