<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>但是滴哦进口国</string>
	<string>的发生都是短发撒</string>
	<string>水电费</string>
	<string>是短发撒的发生的发生的发生发的发生都是发发是短发是短发是短发是短发舒服</string>
	<string>多福多寿似懂非懂舒服的是多少分多少分</string>
	<string>是短发是个合适的奉公守法</string>
	<string>但是发生</string>
	<string>仿佛过</string>
	<string>啊</string>
	<string>风格</string>
	<string>谁是谁</string>
	<string>！！！@@＃¥％……&amp;＊&amp;＊……％</string>
	<string>098765433454＃％6344344%……％％……％(☆_☆)</string>
</array>
</plist>
